.preguntasFrecuentes {
  min-height: 100vh;
}

.preguntasFrecuentes__preguntas {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preguntasFrecuentes_title {
  font-size: 3rem;
  margin: 2rem 0rem;
  text-align: center;
}

.preguntasFrecuentes__faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(129, 129, 129);
  cursor: pointer;
}

.preguntasFrecuentes__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preguntasFrecuentes__question h3 {
  font-size: 1.8rem;
}

.preguntasFrecuentes__answer {
  max-height: 0;
  overflow: hidden;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  transition: max-height 1.4s ease;
}

.preguntasFrecuentes__faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.preguntasFrecuentes__faq.active svg {
  transform: rotate(180deg);
}

.preguntasFrecuentes svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
