/* Catalog page container */
.catalog-page {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10% auto;
}

.columna-filtros {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.remove-filters {
  align-self: center;
}

.columna-filtros > * {
  margin: 10px 0;
  font-size: 18px;
}

.dropdown-menu-catalogo {
  background-color: var(--btn-main-color);
  color: var(--white-color);
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.contenedor-horizontal {
  display: flex;
  width: 100%;
}

.input-precio {
  margin: 5px;
  width: 50%;
  height: 40px;
  background-color: var(--btn-main-color);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
}

.input-precio::placeholder {
  color: var(--white-color);
}

.botones-filtros {
  margin: 10px;
  width: 80px;
}

.catalog-label {
  color: var(--main-txt-color);
  font-weight: bold;
}

.checkbox-input {
  width: 30px;
  margin: 5px;
  margin-bottom: 10px;
}

.input-label {
  display: inline-block;
  width: 100%;
}

li {
  list-style-type: none;
}

/* Catalogo */
.catalog-page__column2 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

/* Car card */
.car-card {
  padding: 10px;
  margin-bottom: 10px;
}

/* Pagination */
.pagination {
  min-width: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.pagination__adelante {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5%;
}

.pagination__atras {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5%;
}

.pagination .app-btn {
  background-color: var(--btn-main-color);
  cursor: pointer;
}

.loader-cars {
  position: absolute;
  top: 0;
}

@media screen and (min-width: 1480px) {
  .columna-filtros {
    width: 20%;
  }
  .catalog-page__column2 {
    width: 80%;
  }

  .car-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination {
    display: flex;
    min-width: 0;
    justify-content: center;
  }

  .pagination__adelante,
  .pagination__atras {
    width: 20%;
  }
}

@media screen and (max-width: 920px) {
  .catalog-page {
    flex-direction: column-reverse;
    align-items: center;
  }

  .columna-filtros {
    width: 80%;
  }
}
