.app-input,
.app-textarea,
.app-selection {
  border-radius: 0.5rem;
  border: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  background-color: var(--input-main-color);
  color: var(--secundary-text-color);
}

.app-input,
.app-selection {
  width: 100%;
  height: 2.75rem;
  outline: none;
  padding: 9px 16px;
}

.app-input:focus {
  outline: 1px solid var(--input-outline-color);
}

.app-label {
  display: block;
  margin-bottom: 1.625rem;
  color: var(--main-txt-color);
  font-weight: 700;
}

.app-label:last-of-type {
  margin-bottom: 0;
}

.app-textarea {
  width: 100%;
  height: 11.25rem;
  resize: none;
  padding: 16px;
}

.app-textarea:focus {
  outline: 1px solid var(--input-outline-color);
}

.app-input__pass {
  position: relative;
}

.fa-eye,
.fa-eye-slash {
  position: absolute;
  cursor: pointer;
  top: 45px;
  right: 15px;
}
