.registro-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    padding-inline: 10%;
    grid-template-columns: 50% 50%;
}

.welcomed__information {
    margin-bottom: 5%;
}

.welcomed__information div {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 2%;
}

.welcomed__information div:last-of-type {
    margin-bottom: 0;
}

.welcomed__information p {
    font-size: 0.875rem;
    font-weight: 700;
}

@media screen and (max-width:835px) {
    .registro-container {
        margin-top: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .welcomed__title {
        margin-top: 5%;
    }

    .welcomed__img{
        display: none;
    }

    .container__form {
        margin-top: 15%;
    }

    .welcomed__information {
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-bottom: 3%;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10%;
        top: 0%;
        left: 0;
        padding: 2%;
    }

    .welcomed__information p{
        font-size: clamp(12px,2vw,18px);
    }
}