.app-configuracion__misPublicaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.app-misPublicaciones__info {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 720px) {
  .app-configuracion__misPublicaciones {
    width: 80%;
  }
}
