.post__form,
.post__title {
  margin-top: 5%;
}

.post__title {
  margin-inline: auto;
  width: 90%;
}

.form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  padding: 5%;
}

.form-pics {
  margin-bottom: 5%;
}

.form .app-form div:first-child {
  grid-area: name;
}

.form .app-form div:nth-child(2) {
  grid-area: state;
}

.form .app-form div:nth-child(3) {
  grid-area: price;
}

.form .app-form div:nth-child(4) {
  grid-area: isOffer;
}

.form .app-form div:nth-child(5) {
  grid-area: model;
}

.form .app-form div:nth-child(6) {
  grid-area: brand;
}

.form .app-form div:nth-child(7) {
  grid-area: color;
}

.form .app-form div:nth-child(8) {
  grid-area: transmision;
}

.form .app-form div:nth-child(9) {
  grid-area: city;
}

.form .app-form div:nth-child(10) {
  grid-area: location;
}

.form .app-form div:nth-child(11) {
  grid-area: fuel;
}

.form .app-form div:nth-child(12) {
  grid-area: doors;
}

.form .app-form div:nth-child(13) {
  grid-area: engine;
}

.form .app-form div:nth-child(14) {
  grid-area: kilometers;
}

.form .app-form div:nth-child(15) {
  grid-area: year;
}

.form .app-form div:nth-child(16) {
  grid-area: description;
}

.form .app-form .app-btn {
  grid-area: send;
  justify-self: center;
  align-self: center;
}

.form .app-form {
  display: grid;
  height: 1280px;
  gap: 2%;
  padding: 1%;
  grid-template-areas:
    'name model fuel'
    'state brand doors'
    'state color engine'
    'location transmision kilometers'
    'price city year'
    'isOffer description description'
    'send send send';
}

@media screen and (max-width: 1300px) {
  .form .app-form div:first-child,
  .form .app-form div:nth-child(2),
  .form .app-form div:nth-child(3),
  .form .app-form div:nth-child(4),
  .form .app-form div:nth-child(5),
  .form .app-form div:nth-child(6),
  .form .app-form div:nth-child(7),
  .form .app-form div:nth-child(8),
  .form .app-form div:nth-child(9),
  .form .app-form div:nth-child(10),
  .form .app-form div:nth-child(11),
  .form .app-form div:nth-child(12),
  .form .app-form div:nth-child(13),
  .form .app-form div:nth-child(14),
  .form .app-form div:nth-child(15),
  .form .app-form div:nth-child(16),
  .form .app-form .app-btn {
    grid-area: auto;
  }

  .form .app-form {
    grid-template-areas: none;
    grid-template-columns: 50% 50%;
    height: 1880px;
  }
}

@media screen and (max-width: 800px) {
  .form .app-form {
    gap: 1%;
    grid-template-columns: 100%;
    height: 3280px;
  }
}
