.app-configuracion .reviews-leave {
  display: none;
}

.app-configuracion .reviews-section {
  width: 60%;
}
.app-configuracion .user-review {
  margin-top: 15%;
}

.app-configuracion .progress-bar > p {
  right: clamp(-45px, -15%, -100px);
}
