.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99vw;
  height: 80vh;
  overflow: hidden;
}

.not-found + .footer {
  position: fixed;
  bottom: 0;
}

.error-loader {
  width: 100%;
  max-width: 900px;
  margin-inline: auto;
  overflow: hidden;
}

.loader-not-found {
  width: 80%;
  margin-inline: auto;
  overflow: hidden;
}

.back-error-page {
  display: grid;
  place-items: center;
  margin-bottom: 5%;
}

.back-error-page > button {
  border: 1px solid var(--input-outline-color);
  background-color: transparent;
  font-size: clamp(15px, 2.5vw, 25px);
  border-radius: 2vw;
  padding: 0.5%;
  width: 15%;
  max-width: 180px;
  transition: 0.3s;
  cursor: pointer;
  color: black;
}

.back-error-page > button:hover {
  background-color: var(--input-outline-color);
  color: white;
}
