.app-cardCar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 500px;
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: var(--card-main-color);
  color: var(--white-color);
  font-weight: 700;
  position: relative;
}

.app-cardCar i {
  font-size: 20px;
}

.app-cardCar hr {
  width: 92%;
  margin: 0 auto;
}
.app-cardCar__container-img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.app-cardCar__container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-cardCar_general-info {
  padding: 0 20px;
}

.app-cardCar_general-info p {
  margin-bottom: 4px;
}

.app-cardCar_general-info p:last-of-type {
  margin-bottom: 0;
}

.app-cardCar_general-info p:nth-child(2) {
  font-size: 1.125rem;
}

.app-cardCar_other-info {
  width: 80%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  margin: 0 auto;
}

.app-cardCar_item {
  width: 100%;
  background-color: var(--white-color);
  color: var(--main-txt-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 0.875rem;
}

.app-cardCar--text-style1 {
  color: var(--card-white-regularText);
  font-size: 0.875rem;
}

.app-cardCar--logVersion {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.app-carCard_estado {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #3c76f2;
  width: 4rem;
  padding: 0.5rem;
  border-radius: 6px;
}

.app-cardCar__opciones {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.app-cardCar__opciones-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: var(--card-main-color);
  color: var(--white-color);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.app-cardCar__opciones-icon:hover {
  color: var(--card-main-color);
  background-color: var(--white-color);
}

.app-cardCar__lstOp {
  height: 5rem;
  padding: 1rem;
  margin-top: 4px;
  background-color: var(--white-color);
  border-radius: 8px;
  display: none;
}

.app-cardCar__lstOp--show {
  display: block;
}
.app-cardCar__lstOp ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20%;
  height: 100%;
}

.app-cardCar__lstOp a {
  text-decoration: none;
  color: var(--secundary-text-color);
}

.app-cardCar__lstOp a:hover {
  text-decoration: none;
  color: var(--main-txt-color);
  font-weight: 700;
}

@media screen and (max-width: 620px) {
  .app-cardCar_other-info {
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
  }

  .app-cardCar {
    height: 600px;
    margin-bottom: 48px;
  }

  .app-cardCar_item {
    padding: 4px 0;
  }
}
