.container-alert {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2100;
}

.alert__body {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;

  position: fixed;
  top: 10%;

  margin-top: 1%;
  border: 1px solid black;
  border-radius: 2vw;

  width: 50%;
  min-width: 290px;
  max-width: 1000px;

  text-align: center;
  overflow: hidden;

  padding: 1%;
}

.body-title>h2 {
  font-size: clamp(20px,3vw,30px);
  color: black;
}

.body-content>p {
  font-size: clamp(16px,2vw,18px);
  color: black;
}

.alert__body>button{
  position: absolute;
  right: 3%;
  top: 10%;

  border: none;

  background-color: transparent;
  border-radius: 15px;

  width: 5vw;
  max-width: 25px;
  min-width: 20px;
  height: 5vw;
  max-height: 25px;
  min-height: 20px;

  cursor: pointer;

  font-size: clamp(15px,2vw,22px);

  color: black;

  transition: 0.3s;
}

.alert__body>button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.text-alert {
  width: 40%;

}

.icon-modal {
  width: 10vw;
  max-width: 80px;
  min-width: 50px;
  height: 10vw;
  max-height: 80px;
  min-height: 50px;

  display: grid;
  place-items: center;

  font-size: clamp(20px, 4vw, 40px);

  background-color: red;

  border-radius: 50%;
}

.icon {
  color: white;
}

.error {
  background-color: red;
}

.alerta {
  background-color: yellow;
}

.exito {
  background-color: green;
}
