.app-configuracion__sideBar {
  width: 40%;
  height: 75vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-configuracion__sideBar .app-iconoPerfil {
  margin: 2rem;
}
.app-configuracion__personalInfo {
  margin-bottom: 1rem;
}

.app-configuracion__lstOp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-configuracion__lstOp li {
  padding: 1rem;
}

.app-configuracion__lstOp a {
  text-decoration: none;
  color: var(--secundary-text-color);
  font-size: 1.125rem;
}

.active,
.app-configuracion__lstOp a:hover {
  color: var(--main-txt-color);
  font-weight: 700;
}
