.register-container__modal .modal{
   transform: scale(0.9);
}

.modal .registro-container {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.welcomed__information {
  margin-bottom: 10%;
}

.welcomed__information div {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 2%;
}

.welcomed__information div:last-of-type {
  margin-bottom: 0;
}

.welcomed__information p {
  font-size: 0.875rem;
  font-weight: 700;
}

.form-register .app-form {
  display: grid;
}
.form-register .app-form .error-message {
  padding: 2px;
  margin-top: 2px;
}