.app-btn {
  width: 9.5rem;
  height: 3.125rem;
  padding: 8px 16px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--gray-opacity-24);
}

.app-btn:hover {
  background-color: var(--white-color);
  color: var(--btn-main-color);
}
