.app-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3.125rem;
  padding: 8px 16px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--btn-main-color);
}

.app-btn:hover {
  background-color: var(--btn-secundary-color);
}
