.logIn-container--p {
  display: grid;
  text-align: center;
  padding: 10%;
  grid-template-rows: 12% 80% 8%;
}

.logIn-container--p + .footer {
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 825px) {
  .logIn-container--p {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90% 10%;
    gap: 5%;
    margin-bottom: 12%;
  }
}
