.reviews-section {
    padding: 5%;
}

.reviews-section__title>h2 {
    font-size: clamp(29px, 8vw, 32px);
    margin-bottom: 2.5%;
}

.reviews-section__title {
    margin-bottom: 2.5%;
}

.user-review {
    margin-bottom: 2%;
}

.profile-username {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
}

.profile-username>p:first-child {
    font-size: clamp(12px, 3vw, 16px);
}

.profile-username>p:last-child {
    position: absolute;
    right: 0;    
    font-size: clamp(8px, 2vw, 12px);
}

.reviews-leave {
    margin-bottom: 2.5%;
}