.logIn-container {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 5%;
}

.welcomed__title,
.welcomed__img {
  margin-bottom: 10%;
}

.welcomed__title > h2 {
  font-size: clamp(26px, 5vw, 32px);
}

.welcomed__img > img {
  width: 40vw;
  min-width: 300px;
  max-width: 350px;

  height: 33vw;
  max-height: 298px;
  min-height: 255px;
}

.welcomed__no-account {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.welcomed__no-account p {
  font-size: clamp(12px, 3vw, 16px);
  cursor: pointer;
}

.welcomed__no-account p:hover {
  font-weight: 700;
}

.welcomed__no-account > p,
.form_forgot-password p {
  text-decoration: underline;
}

.container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.google-login {
  margin-top: 10%;
  margin-bottom: 4%;
  width: 100%;
  height: 25%;
}

.google-login button {
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  width: 95%;
  height: 50px;
  border-radius: 1.2vmax;
  cursor: pointer;
  font-size: clamp(12px, 3vw, 16px);
}

.form-login label,
.form-login input,
.form-login button,
.form_forgot-password p {
  font-size: clamp(12px, 3vw, 16px);
}

.form_forgot-password {
  margin-top: 5%;
}

.form_forgot-password>p {
  cursor: pointer;
}