/* variables */
:root {
  --main-background: #a1c1be;
  /* primary/main color */
  --main-txt-color: #000;
  --card-main-color: #f3f4e5;
  --card-white-color: #fff;
  --black-76-primary-color: #000000c2;

  /*colors used for inputs and form elements*/
  --gray-opacity-24: #ffffff3d;
  --gray-opacity-12: #ffffff1f;
  /*Gray for the text that goes in the card for the car*/
  --gray--opacity-65: rgba(0, 0, 0, 0.65);
  --checkbox-main-color: #666276;
  --btn-main-color: #59554e;
  --option-main-color: #d9d9d9;
}

/*general styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  font-family: 'Noto Sans';
  color: var(--main-txt-color);
}
