/* variables */
:root {
  --main-background: #fff;
  /* primary/main color */
  --main-txt-color: #000;
  --secundary-text-color: #000000c2;
  --card-main-color: #282435;
  --card-white-color: #fff;
  --card-white-regularText: #ffffffb3;

  /*colors used for inputs and form elements*/
  --input-main-color: #2824351f;
  --input-outline-color: #282435;
  --checkbox-main-color: #666276;
  --btn-main-color: #282435;
  --btn-secundary-color: #282435cc;
  --option-main-color: #282435;
  --option-secundary-color: #282435cc;

  /*Other colors*/
  --white-color: #fff;
}

/*general styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  font-family: 'Noto Sans';
  color: var(--main-txt-color);
  padding-top: 100px;
}
