.app-configuracion {
  width: 90%;
  margin: 3rem auto 0;
  display: flex;
  gap: 5%;
}

@media screen and (min-width: 1280px) {
  .app-configuracion {
    width: 70%;
  }
}

@media screen and (max-width: 720px) {
  .app-configuracion {
    flex-direction: column;
    align-items: center;
  }

  .app-configuracion__sideBar {
    width: 80%;
  }
}
